*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.cardbox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
  }
  .cart{
    width: 22%;
    height: 500px;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
  }
  .photo{
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
  }
  .pr{
    font-size: 18px;
  }
  .loding{
    text-align: center;
    font-size: 60px;
    margin-top: 500px;
  }